@media (min-width: 1800px) {
    .container {
        max-width: 1800px;
        font-size: 17px;
        font-weight: 499;
    }

    td {
        text-align: center;
    }

    .search_name {
        height: 50px;
        font-size: 20px;
    }
}

.text {
    white-space: nowrap;
    width: 50px;
    overflow: hidden;
    border: 1px solid #000000;
}

.text:hover {
    overflow: visible;
}


button {
    margin-right: 20px;
}